#
# Copyright (c) 2021, salesforce.com, inc.
# All rights reserved.
# SPDX-License-Identifier: BSD-3-Clause
# For full license text, see the LICENSE file in the repo root or https://opensource.org/licenses/BSD-3-Clause
#
gemfileparser==0.8.0
toml==0.10.2
lxml>=4.6.3
memoization==0.3.2
requests==2.24.0
pypi_simple==0.8.0
ratelimit==2.2.1
urllib3==1.25.11
click==7.1.2
helix_swarm==0.6.1
pyarn==0.1.0
pyyaml==5.4.1
github3.py==2.0.0